# MJ
python-dotenv
langchain
openai
requests
langchain-community
transformers
torch
sentencepiece
newspaper3k
lxml[html_clean]
lxml_html_clean
fpdf2
rouge-score
evaluate
deep-translator

# JR
feedparser
pytz
pdfminer.six

# JH
sentence-transformers
PyMuPDF
faiss-cpu
chromadb
serpapi